{% extends 'base.html.twig' %}


{% block body %}
    <div class="container my-5">
        <h1>Mon Panier</h1>
        <div class="row">
            <div class="col-md-8">
                Liste de mes produits
                {% for product in cart %}
                    <div class="row mt-2">
                        <div class="col-md-2">
                            <img src="/uploads/{{ product.object.illustration }}" class="img-fluid" alt="{{ product.object.name }}">
                        </div>
                        <div class="col-md-6">
                            <strong>{{ product.object.name }}</strong>
                            <span class="d-block">Prix unitaire: {{ product.object.pricewt|price }}</span>
                        </div>
                        <div class="col-md-2">
                            <span class="badge text-bg-secondary">x{{ product.qty }}</span>
                        </div>
                        <div class="col-md-2">
                            <strong>{{ (product.object.pricewt * product.qty) |price }}</strong>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                Récap de mon panier (prix, boutton commander)
            </div>
        </div>
    </div>
{% endblock %}
